<div class="container-fluid">
  	<div class="row-fluid" ng-switch on="waiting">
	    
	    <div class="well span12">
        	<center><h4> Current selected hashtag : {{mainTag}} </h4><center>
        </div>	       

        <div ng-switch-when="true" class="span12 ">  			
        	
        	<center><h3>We are building the graph</h3><center>
        	
        	<div class="progress progress-striped active ">  			
  				<div id="progressbar" class="bar" style="width: 60%;"></div>
  			</div>

		</div>

    <div ng-switch-when="false" class='span12'>
      
      <div class='span5'>

        <directedGraph value="userGraph" ></directedGraph>

      </div>
      <div class='span7'>
        
        <bargraph val="data" ></bargraph>

      </div>

    </div>
      
    
	</div>
</div>
